a {
  color: inherit;
  text-decoration: none;
}

.navBar {
  background-color: rgb(109, 109, 109);
  color: aliceblue;
  height: 50px;
  padding: 10px;
  display: flex;
  border-radius: 1%;
}

.navBarImage {
  border-radius: 20%;
  margin-right: 10px;
}
.navBarElement {
  margin-right: 10px;
}

.bodyBox {
  background-color: blueviolet;
}

.bodyImage {
  margin: auto;
}

.body {
  background-color: rgb(233, 233, 233);
  height: 500px;
  padding: 10px;
  height: 500px;
}


.cardBody{
  margin-top: 10px;
}